
#table_matches {
  border: 10px navy solid;
}

#table_matches .tableRow0 {
  color: black;
  background-color: white;
}

#table_matches .tableRow1 {
  color: white;
  background-color: navy;
}

#table_matches .tableRow0 a {
  color: black;
}

#table_matches .tableRow1 a:hover {
  color: black !important;
}

#table_matches .tableRow1 a {
  color: white;
}

