
<% @player_attribute = @player.player_attribute -%>

<% PlayerAttribute.content_columns[index_start, size_attributes].each do |column| -%>
  <% name = column.name.to_s -%>
  <tr>
    <th>
      <%= column_name2display(name) + ":" + nbsp(2) %>
    </th>
    <td align="<%= action == :show ? 'right' : 'left' %>">
      <% case action
         when :show -%>
        <%= @player_attribute.send(:attributes)[name] %>
      <% when :edit -%>
        <%= text_field :player_attribute, name, {:size => 4} %>
      <% end -%>
    </td>
  </tr>
<% end -%>

