
<h3><%= @page_title %></h3>

Columns:<br />
<% form_for(:column_filter, :url => {:action => 'filter_on_list'}) do |f| -%>
  <% classColumnFilter.instance_variable_names.each do |name| -%>
    <%= f.check_box name %>
    <% displaying_name = case name
         when :is_right_dominant
           'dominant_leg'
         when :nation_id
           'nation'
         else
           name.to_s
       end -%>
    <%= displaying_name.camelize %>
    &nbsp;
  <% end -%>

  <p>
    <%= submit_tag 'Apply' %>
  </p>
<% end -%>

