
<p>
  <%= link_to 'Back to Rosters', 'list' %>
</p>

<table id="table_depth_chart">
  <% Position.find(:all).each do |position| -%>
    <tr>
      <th><%= position.name -%></th>
      <td><%= @depth[position].map(&:name).join(' : ') %></td>
    </tr>
  <% end -%>
</table>

