
<h1><%= @page_title %></h1>

<table id="table_players">
  <% @players.each do |player| -%>
    <tr>
      <% Player.columns.each do |column| -%>
        <td><%= h player.send(:attributes)[column.name] %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>

