
<p>
  <%= link_to 'Back to Rosters', :action => 'list' %>
  <%= nbsp(4) %>
  <%= link_to 'Edit', :action => 'edit' %>
</p>

<%= render :partial => 'base', :locals => {:action => :show, :player => @player, :f => nil} %>

