
<h1><%= @page_title %></h1>

<p>
  <%= link_to 'Back to Rosters', :action => 'list' %>
</p>

<table>
  <% ColumnFilter.displaying_columns.each do |column| -%>
    <tr>
      <td align="left">
        <%= column_name2display(column_name2meaningful(column.name)) + ":" + nbsp(2) %>
      </td>
      <td>
        <%= render :partial => 'property_display', :locals => {:column => column, :player => @player} %>
      </td>
    </tr>
  <% end -%>
</table>

