
<!-- -->
<tr>
  <% column_names.each do |column_name| -%>
    <th><%= column_heading(column_name) %></th>
  <% end -%>
</tr>
<!-- -->

<% @matches.each do |match| -%>
  <% if match.id == id_to_edit -%>
    <%= render :partial => 'form', :locals => {:column_names => column_names} %>
  <% else -%>
    <tr>
      <% column_names.each do |column_name| -%>
        <td>
            <%= render :partial => 'match', :object => match, :locals => {:column_name => column_name} %>
        </td>
      <% end -%>
    </tr>
  <% end -%>
<% end -%>

