
<% column_names = column_names_for_list -%>

<p>
  <%= link_to 'Cancel', :action => 'list', :shows_records => @shows_records ? '1' : '0' %>
</p>

<table id="table_matches" class="table_base">
  <%= render :partial => 'list',
             :locals => {:action => :edit,
                         :id_to_edit => @match.id,
                         :column_names => column_names,
                         :shows_link => false } %> 
</table>

<p>
  <%= link_to 'Cancel', :action => 'list', :shows_records => @shows_records ? '1' : '0' %>
</p>

