
<% column_names = column_names_for_list -%>

<p>
  <%= link_to 'Cancel', :action => 'list' %>
</p>

<table id="table_matches">
  <%= render :partial => 'list',
             :locals => {:id_to_edit => @match.id, :column_names => column_names, :shows_link => false } %> 
</table>

<p>
  <%= link_to 'Cancel', :action => 'list' %>
</p>

