
<%= render :partial => 'links_in_list' %>

<%= link_to 'New Match', new_match_path %>

<table id="table_matches" class="table_base">
  <%= render :partial => 'list',
             :locals => {:action => :list,
                         :id_to_edit => nil,
                         :column_names => column_names_for_list,
                         :shows_link => @shows_link} %> 
</table>

<%= link_to 'New Match', new_match_path %>

