
<%= link_to 'Rosters', :controller => 'players', :action => 'list' %>
<%= nbsp(4) %>
<%= link_to 'New Match', :action => 'new' %>

<table id="table_matches">
  <%= render :partial => 'list', :locals => {:id_to_edit => nil, :column_names => column_names_for_list} %> 
</table>

