
<% column_names = column_names_for_list -%>

<p>
  <%= link_to 'Cancel', :action => 'list' %>
</p>

<table id="table_matches">
  <%= render :partial => 'list',
             :locals => {:id_to_edit => nil, :column_names => column_names, :shows_link => false} %> 

  <%= render :partial => 'form', :locals => {:column_names => column_names} %>
</table>

<p>
  <%= link_to 'Cancel', :action => 'list' %>
</p>

