
<%
  column_names = %w(date_match series_id opponent_id ground scores_own scorers_own scorers_opp pks_own)
-%>

<p>
  <%= link_to 'Cancel', :action => 'list' %>
</p>

<table id="table_matches">
  <%= render :partial => 'list', :locals => {:column_names => column_names} %> 

  <tr>
    <% form_for :match, :url => {:action => 'create'} do |f| -%>
      <% column_names.each do |column_name| -%>
        <td>
          <%= render :partial => 'form', :locals => {:match => @match, :f => f, :column_name => column_name} %>
        </td>
      <% end -%>
    <% end -%>
  </tr>
</table>

