
<p>
  <%= link_to 'Back to Roster Chart', :controller => 'players', :action => 'roster_chart',
                                                                :is_lineup => @is_lineup ? 1 : 0 %>
  <%= nbsp %>
  <%= link_to 'New Formation', :action => 'new' %>
</p>

<%= render :partial => 'list', :locals => {:shows_link => true} %>

