
<h2>Choose a Chronicle (Series of Seasons)</h2>

<ul id="chronicle_list">
  <% @chronicles.each do |chronicle| -%>
    <li>
      <%= link_to chronicle.name, :controller => 'seasons', :action => 'list', :chronicle_id => chronicle %>
    </li>
  <% end -%>
</ul>

