
<ul id="chronicle_list">
  <% @chronicles.each do |chronicle| -%>
    <li>
      <%= link_to chronicle.name, :controller => 'seasons', :action => 'list', :chronicle_id => chronicle %>
    </li>
  <% end -%>
</ul>

<div id="link_new_chronicle">
  <%= link_to 'New Chronicle', :action => 'new' %>
</div>

